/* Variables */
:root {
  --business: #3a82ee;
  --light: #eee;
  --white: #fff;
  --grey: #888;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  align-items: center;
}

input:not([type='radio']):not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

.header button {
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1rem;
}

body {
  background: var(--white);
  color: var(--dark);
  overflow: hidden;
}

section {
  margin-top: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

main {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: var(--light);
  width: 35rem;
  margin: 5rem auto;
}

.float-left {
  float: left;
}

.create-todo input[type='text'] {
  width: 90%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.todo-item label {
  display: block;
  margin-right: 0.5rem;
  cursor: pointer;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble::after {
  content: '';
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 999px;
  transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type='submit'] {
  width: 3rem;
  font-size: 1.8rem;
  padding: 1rem 0.5rem;
  color: var(--grey);
  cursor: pointer;
}

.todo-list .list {
  margin-top: 1rem;
}

.todo-list .todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.todo-item label span {
  margin-bottom: 1rem;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
  width: 100%;
}

.todo-item .actions {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.todo-item .actions button {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--grey);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--light);
  background: var(--grey);
}

.fa-trash {
  pointer-events: none;
}

.clear-all {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.3rem;
  color: gray;
  padding: 10px;
  margin: auto;
}
